// Colors
$brand-color: orange;

// Fonts
$sans-serif-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$serif-font: serif;

// Font sizes
$font-xs: 10px;
$font-sm: 12px;
$font-m: 16px;
$font-l: 32px;
$font-xl: 48px;
$font-xxl: 61px;