$primary-color: rgb(240, 240, 240);
$primary: hotpink;
$success: green;
$danger: red;
$warning: rgb(139, 139, 25);
$info: rgb(117, 117, 255);
$light: gray;
$dark: darkslategray;
$link: rgb(212, 212, 212);
